<!DOCTYPE html>
<html ng-app="store">
  <head>
    <link rel="stylesheet" type="text/css" href="bootstrap.min.css"/>
  </head>

  <body ng-controller="StoreController as store">
        <!-- directive = "ControllerName as(keyword) alias" -->
    <ul class="list-group">
      <li class="list-group-item" ng-repeat="product in store.products"> 
      <!-- take out store in {{store.product.name}} when iterating -->
      <div ng-hide="product.soldOut">
<!--         <h3 ng-include="'product-title.html'"> 
        <img ng-src="{{product.images[0].full}}"/>
        </h3> -->
        <product-title></product-title>
        <product-panels></product-panels>

    <script type="text/javascript" src="angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <script type="text/javascript" src="products.js"></script>
  </body>
</html>
<!-- data filters
{{ data | filter:options }}
date
{{ '1388123412323' | date: 'MM/dd/yyyy @ h:mma'}} => 12/27/2013 @ 12:50AM
uppercase & lowercase
{{ 'octagon gem' | uppercase }} => OCTAGON GEM
limitTo
{{ 'My Description' | limitTo:8 }}
<li ng-repeat="product in store.products| limitTo:3">
orderBy
<li ng-repeat="product in store.products | orderBy:'-price'"> '-price' = descending order, '+price' = ascending order -->

<!-- More Binding Examples
  Checkbox
  <input ng-model="review.terms" type="checkbox" /> I agree to the terms
  Radio Buttons
  <input ng-model="review.color" type="radio" value="red" /> Red
  <input ng-model="review.color" type="radio" value="blue" /> Blue
  <input ng-model="review.color" type="radio" value="green" /> Green -->